<div class="modal-overlay">
    <div class="modal">
        <div class="modal-content">
            <img id="image" src="" alt="">
            <h3 id="name"></h3>
            <span id="chef"></span>
            <p id="close">Fechar modal</p>
        </div>
    </div>
</div>