{% extends 'layout.njk' %}

{% block content %}

    <div class="banner">
        <div class="infos">
            <h2>As melhores receitas</h2>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="chef">
            <img src="/image/chef.png" alt="Cartoon Chef">
        </div>
    </div>

    <h2 class="accessed">Mais acessadas</h2>
    <section class="cards">
        {% for item in items %}
            <div class="card">
                <img src="/image/{{ item.image }}" alt="{{ item.name }}">
                <h3>{{ item.name }}</h3>
                <span>por {{ item.chef }}</span>
            </div>
        {% endfor %}
    </section>

{% endblock content %}
