<!DOCTYPE html>

<html>
    <head>
        {% block head %}
            <title>Fuldi</title>
        {% endblock %}

        <link rel="stylesheet" href="/css/_main.css">
        <!-- JQuery -->
        <script src="js/jquery-2.2.1.js" type="text/javascript"></script>
    </head>

    <body>
        {% block header %}
            <header class="links">
                <div>
                    <a class="img" href="/"><img src="/image/logo.png" alt="Logo Fuldi"></a>
                    <a class="link" href="/about">Sobre</a>
                    <a class="link" href="/">Receitas</a>
                </div>
            </header>
        {% endblock %}

        {% block content %} {% endblock %}

        <footer>
            <span>Todos direitos reservados, receitas Fuldi. Developed by <a href="https://github.com/taironedias" target="_blank">Tairone Dias</a>.</span>
        </footer>
    </body>
</html>